fastapi
uvicorn[standard]
python-multipart
openai
pillow
pydantic
python-jose[cryptography]
passlib[bcrypt]
aiofiles
requests
numpy
mlflow
boto3
psycopg2-binary
sqlalchemy
alembic
pymysql
Authlib
redis
psutil
together